emoji==0.5.2
flask==1.0.0
flask-migrate==2.5.2
flask-restful==0.3.7
flask-sqlalchemy==2.4.1
gensim==3.8.0
nltk==3.4.3
pandas==0.24.2
python-dotenv==0.10.3
tweepy==3.8.0
watchdog==0.9.0
rq==1.1.0
psycopg2==2.8.4
tensorflow==1.14.0
scikit-learn==0.21.2
